.movie{
  background-color: ghostwhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px gray solid;
  border-radius: 15px;
  height: 100%;
}
.movie h2{
  color: black;
  font-size: 20px;
}
.movie h4{
  color: gray;
  font-size: 15px;
}

.list{
  list-style: none;
  width: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: max-content;
  gap: 10px;
}